body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .burger{
    background-color:blue;
    height:80px;
    width:80px;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:8px;
  }
  
  .burger div{
    background-color:white;
    height:6px;
    width: 48px;
    border-radius:3px;
    transition: 0.5s;
  }
  
  .active div:nth-child(1){
    transform: translateY(12px) rotate(135deg);
  }
  
  .active div:nth-child(2){
    transform: scale(0);
  }
  
  .active div:nth-child(3){
    transform: translateY(-16px) rotate(-135deg);
  }
  